.example-enter {
    opacity: 0.01;
}

.example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.example-leave {
    opacity: 1;
}

.example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

@keyframes bounceIn {
    from, 20%, 40%, 60%, 80%, to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        transform: scale3d(.7, .7, .7);
    }

    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        transform: scale3d(.95, .95, .95);
    }

    60% {
        opacity: 1;
        transform: scale3d(1.01, 1.01, 1.01);
    }

    80% {
        transform: scale3d(.90, .99, .99);
    }

    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

.bounceIn {
    animation-name: bounceIn;
}
.documents-list {
    .documents-list-enter {
        -webkit-animation-name: bounceIn;
        -webkit-animation-duration: .8s;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: linear;
        animation-name: bounceIn;
        animation-duration: .8s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
    }

    .documents-list-leave {
        -webkit-animation-name: bounceOut;
        -webkit-animation-duration: 0.5s;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: linear;
        animation-name: bounceOut;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
    }
}

div.bubble {
    background-color: #63C146;
    color: white;
    border-radius: 6px;
    margin: 2px;
    padding: 5px 15px 5px 15px;
}