/*
	Gifty CSS

	For example, you might change some of the default colors:

	$light:                           #fff !default;
	$stable:                          #f8f8f8 !default;
	$positive:                        #387ef5 !default;
	$calm:                            #11c1f3 !default;
	$balanced:                        #33cd5f !default;
	$energized:                       #ffc900 !default;
	$assertive:                       #ef473a !default;
	$royal:                           #886aea !default;
	$dark:                            #444 !default;
	$red: 							  #FF6F68;
*/
/* 	==========================================================================================
	========================================================================================== */
/* 	=============================================
	 VARIABLES
	============================================= */
/* 	-----------------------------------------
     Standard Colours
    ----------------------------------------- */
/* 	--- Colours ------------------------- */
/* Salmon */
/* 	-----------------------------------------
     Colour Sets
    ----------------------------------------- */
/*  /////////////////////////////////////////
     MODERN WHITE + RED
    \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* BG --red-- grey */
/* BG white */
/* Grey (on red) */
/*#2A2A2A;*/
/* Grey (on white) */
/*#445963;*/
/* Blue (on red/white) */
/* Light Blue (sub Blue) */
/*#FFFFFF;*/
/*#A9A9A9; 	/* Blue (on white) */
/* Blue (on red/white) */
/*$c-warm-green; /*$c-sms-green; /*#EB5155; /* #EA5256 */
/*$c-warm-green; /*$c-sms-green;*/
/*  /////////////////////////////////////////
     STYLES
    \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* 	--- Standard ------------------------ */
/*  --- Header -------------------------- */
/*$c-header-bg: $c-set-bg-3;*/
/* 	-----------------------------------------
     Layout
    ----------------------------------------- */
/* 	--- Compose ------------------------- */
/*$l-compose-input-text-size: 22;*/
/* 	=============================================
	 @ MIXINS
	============================================= */
/* - Font Family ------------------------ */
/* Rounded Corners ---------------------- */
/* Complex Corners ----------------------- */
/* --- Overflow: hidden ----------------- */
/* 	=============================================
	 BODY
	============================================= */
/* 	-----------------------------------------
     MODIFICATIONS
    ----------------------------------------- */
/* 	--- Body ---------------------------- */
body {
  font-family: "proxima-nova", sans-serif !important;
  /*background-color: $c-set-bg-1;*/
  color: #37474F; }

section {
  /* Animate on type face load */
  opacity: 1;
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transition: transform .4s ease-in-out, opacity .4s ease-in-out;
  -webkit-transition: -webkit-transform .4s ease-in-out, opacity .4s ease-in-out;
  padding: 30px 0; }

section#banner {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #333;
  color: #FEFEFF; }
  section#banner .header a {
    text-decoration: none;
    border: none !important;
    color: #fff !important; }

@media screen and (max-width: 470px) {
  section#banner {
    position: relative !important; } }

@media screen and (orientation: portrait) {
  section#banner {
    position: relative; } }

section#wrapper .inner {
  align-self: center;
  /*text-align: center;*/ }

section#wrapper.hide_banner {
  width: 100% !important; }

/* -- Wrapper ---------------------------- */
.wf-loading section {
  opacity: 0;
  transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -webkit-transform: translateY(-20px); }

/* 	--- Nav ----------------------------- */
section > .header {
  top: 0;
  margin: 25px 30px;
  font-weight: 400;
  font-size: 0.6em;
  text-transform: uppercase;
  letter-spacing: 1px; }

section#banner > .header {
  position: absolute;
  left: 0;
  font-weight: 600; }

section#wrapper > .header {
  position: fixed;
  right: 0; }

/*  --- Signup --------------------------- */
.signup_container {
  position: relative;
  background-color: #fafafa; }

ul.bubbles {
  position: absolute !important;
  top: 0;
  background-color: #fafafa;
  padding-top: 5px !important;
  /* Bubble */
  /*li.bubble {
      position: relative!important;
      display: inline-block!important;


      @include rounded-corners(4px);
      background-color: #E5E5EA;
      color: #000;
      padding: 8px 10px!important;
      opacity: 1!important;

      margin-left: -30px;
      left: 0;

      margin-top: 10px;
      font-size: 16px;
      line-height: 18px;

      max-width: 190px;
      overflow: hidden;
      white-space: pre-wrap;
  }

      li.bubble.own {
          background-color: #63C146!important;
          color: #fff!important;
          margin-left: 0!important;
          margin-right: -30px!important;
          left: auto!important;
          right: 0!important;
      }*/ }
  ul.bubbles li.bubble_container {
    display: flex !important;
    flex: 1;
    justify-content: flex-end;
    margin: 5px -20px 5px 40px;
    opacity: 1 !important;
    white-space: pre-wrap;
    position: relative !important; }
  ul.bubbles li.is_bot_bubble_container {
    justify-content: flex-start;
    margin-right: 40px;
    margin-left: -20px; }
  ul.bubbles .bubble {
    background-color: #63C146;
    border-radius: 4px;
    padding: 10 10 0 10; }
  ul.bubbles .message {
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    padding: 10px; }
  @media screen and (max-width: 736px) {
    ul.bubbles .message {
      font-size: 14px; } }
  @media screen and (max-width: 736px) and (orientation: portrait) {
    ul.bubbles .message {
      font-size: 12px;
      line-height: 12px; }
    ul.bubbles li.bubble_container {
      margin: 5px -30px 5px 40px; }
    ul.bubbles li.is_bot_bubble_container {
      margin-left: -30px;
      margin-right: 20px !important; } }
  @media screen and (orientation: portrait) {
    ul.bubbles .message {
      font-size: 12px;
      line-height: 12px; }
    ul.bubbles li.bubble_container {
      margin: 5px -30px 5px 40px; }
    ul.bubbles li.is_bot_bubble_container {
      margin-left: -30px; } }
  ul.bubbles .is_bot_message {
    color: #000; }
  ul.bubbles .is_bot_bubble {
    background-color: #E5E5EA;
    border-radius: 4px;
    padding: 10 10 0 10; }

/* 	-----------------------------------------
     SUPPLEMENTAL
    ----------------------------------------- */
/* 	--- List ---------------------------- */
ul.blank {
  list-style: none; }
  ul.blank li {
    display: inline-block;
    /*border-left: 1px solid;*/
    /*padding-left: 5px;*/
    margin-left: 10px; }
  ul.blank li, ul.blank li a, ul.blank li a:hover {
    text-decoration: none !important;
    color: inherit !important;
    border: none; }

/* 	--- Text ---------------------------- */
h2 {
  color: #333;
  font-size: 1.25em; }
  h2 b {
    color: #EC6D73; }

h2.inline {
  display: inline-block; }

b {
  color: #333; }

/* 	--- Buttons ------------------------- */
input.button.special, input.button.special:hover, a.button.special, a.button.special:hover {
  background-color: #EC6D73 !important;
  border: 1px solid #EC6D73 !important;
  color: #FEFEFF !important; }

input.button.special.sub, input.button.special.sub:hover, a.button.special.sub, a.button.special.sub:hover {
  background-color: transparent !important;
  color: #EC6D73 !important; }

.button {
  text-transform: uppercase;
  font: inherit;
  font-weight: 400;
  font-size: 14;
  display: inline-block;
  outline: 0;
  text-align: center;
  padding: 10px 20px;
  border: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  cursor: pointer; }
  .button.red {
    font-weight: 500;
    color: #fff;
    background-color: #d53931;
    border: none !important;
    box-shadow: none !important; }
    .button.red:hover {
      background-color: #de625b; }

footer ul li a:hover {
  color: #EC6D73 !important; }

/*  --- Inputs --------------------------- */
label {
  margin: 0 !important;
  font-size: 0.8em;
  font-weight: 300;
  color: #31373d; }

input, textarea, select, input[type="checkbox"] + label:before, input[type="radio"] + label:before {
  border: 1px solid #D3DBE2 !important;
  font-family: "proxima-nova", sans-serif !important;
  font-size: 1rem !important;
  font-weight: 400;
  /*letter-spacing: 1px;*/
  /*padding: 5px 10px;
  border: 1px solid #d3dbe2;
  border-radius: 3px;
  font-size: 1.14286rem;
  line-height: 1.71429rem;*/ }

input[type="email"], input[type="password"], input[type="tel"], input[type="text"], select, input[type="checkbox"] + label:before, input[type="radio"] + label:before {
  height: 2.3em !important; }

.select-wrapper::before {
  content: ''; }

form fieldset {
  border-bottom: 1px solid #D3DBE2;
  margin: 1em 0; }
  form fieldset > .field {
    margin: 0 0 1em 0; }
    form fieldset > .field label .sub {
      /*margin-left: 8px;*/
      font-size: 0.8em;
      color: #5a5a5a;
      display: none; }

div.signup_form {
  align-self: center;
  background-color: #fff;
  padding: 30px 50px 30px 50px;
  border-radius: 4px;
  border: 1px solid #c9c9c9; }

@media screen and (max-width: 470px) {
  div.signup_form {
    align-self: center;
    background-color: #fff;
    padding: 30px 10px 30px 10px;
    border-radius: 4px;
    border: 1px solid #c9c9c9; } }

form.signup_form {
  align-self: center;
  background-color: #fff;
  /*  padding: 0px;
    border-radius: 4px;
    border: 1px solid #c9c9c9;*/ }
  form.signup_form .card {
    margin-bottom: 25px; }
    form.signup_form .card .card_content .heading {
      /*font-size: 1.142rem;*/
      margin-bottom: 10px;
      margin-top: 10px; }
    form.signup_form .card .card_content .card_section.inside {
      background-color: #ededed;
      padding: 10px !important;
      /*10px 10px 10px 20px!important;*/
      /*padding-bottom: 10px!important;*/
      border-radius: 3; }
    form.signup_form .card .card_content .card_section {
      display: block;
      /*padding: 20px;*/
      border-bottom: 1px solid #D3DBE2;
      padding-bottom: 10px;
      margin-bottom: 10px; }
      form.signup_form .card .card_content .card_section .grid {
        width: 100%;
        /*width: calc(100% - 20px);*/
        padding: 0;
        /*margin: 0 auto;*/
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        box-sizing: border-box; }
        form.signup_form .card .card_content .card_section .grid .cell {
          flex: 1 1 0%;
          padding-right: 10px;
          max-width: 100%;
          min-width: 0;
          margin: 0 0 1em 0; }
          form.signup_form .card .card_content .card_section .grid .cell .float-right {
            float: right; }
          form.signup_form .card .card_content .card_section .grid .cell .field {
            position: relative; }
            form.signup_form .card .card_content .card_section .grid .cell .field label {
              margin-bottom: 5px; }
              form.signup_form .card .card_content .card_section .grid .cell .field label .sub {
                font-size: 0.8em;
                color: #5a5a5a; }
            form.signup_form .card .card_content .card_section .grid .cell .field .label_sub {
              font-size: 0.7em;
              line-height: 1.3em;
              color: #5a5a5a;
              margin-left: 2px; }
            form.signup_form .card .card_content .card_section .grid .cell .field .field_input, form.signup_form .card .card_content .card_section .grid .cell .field .hidden_input_wrapper {
              padding: 5px 10px;
              border: 1px solid #d3dbe2;
              border-radius: 4px;
              font-size: 1.14286rem;
              line-height: 1.71429rem;
              font-weight: 400;
              text-transform: initial;
              letter-spacing: initial;
              box-sizing: border-box;
              display: block;
              width: 100%;
              max-width: auto;
              min-width: 75px; }
            form.signup_form .card .card_content .card_section .grid .cell .field .hidden_input_wrapper {
              display: flex;
              padding: 0 !important;
              background-color: #fff; }
              form.signup_form .card .card_content .card_section .grid .cell .field .hidden_input_wrapper .hidden_input_addition {
                margin: 0 10px;
                align-self: center; }
              form.signup_form .card .card_content .card_section .grid .cell .field .hidden_input_wrapper input {
                padding: 0 !important;
                margin: 0 !important;
                border: none !important; }
              form.signup_form .card .card_content .card_section .grid .cell .field .hidden_input_wrapper input.right {
                padding: 0 0.75em !important; }
            form.signup_form .card .card_content .card_section .grid .cell .field .hidden_input_wrapper2 {
              display: flex;
              padding: 0px 0px 0px 4px;
              background-color: #fff; }
              form.signup_form .card .card_content .card_section .grid .cell .field .hidden_input_wrapper2 .hidden_input_addition {
                margin: 0 10px;
                align-self: center; }
              form.signup_form .card .card_content .card_section .grid .cell .field .hidden_input_wrapper2 input {
                padding: 0 !important;
                margin: 0 !important;
                border: none !important; }
              form.signup_form .card .card_content .card_section .grid .cell .field .hidden_input_wrapper2 input.right {
                padding: 0 0.75em !important; }
        @media screen and (max-width: 736px) and (orientation: portrait) {
          form.signup_form .card .card_content .card_section .grid .cell {
            padding-right: 0 !important; }
            form.signup_form .card .card_content .card_section .grid .cell .float-right {
              float: none; }
            form.signup_form .card .card_content .card_section .grid .cell .hidden_input_wrapper2 {
              display: flex;
              padding: 0px 0px 0px 4px;
              background-color: #fff;
              justify-content: space-between; } }
        @media screen and (orientation: portrait) {
          form.signup_form .card .card_content .card_section .grid .cell {
            padding-right: 0 !important; }
            form.signup_form .card .card_content .card_section .grid .cell .float-right {
              float: none; }
            form.signup_form .card .card_content .card_section .grid .cell .hidden_input_wrapper2 {
              display: flex;
              padding: 0px 0px 0px 4px;
              background-color: #fff;
              justify-content: space-between; } }
      @media screen and (max-width: 980px) {
        form.signup_form .card .card_content .card_section .grid {
          display: block !important; }
          form.signup_form .card .card_content .card_section .grid .float-right {
            float: none !important; } }
      @media screen and (max-width: 736px) {
        form.signup_form .card .card_content .card_section .grid {
          display: block !important; } }
      @media screen and (max-width: 736px) and (orientation: portrait) {
        form.signup_form .card .card_content .card_section .grid {
          display: block !important;
          width: 100% !important; } }
      @media screen and (orientation: portrait) {
        form.signup_form .card .card_content .card_section .grid {
          display: block !important;
          width: 100% !important; } }

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    transform: scale3d(0.97, 0.97, 0.97); }
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1); } }

@keyframes bounceOut {
  20% {
    transform: scale3d(0.9, 0.9, 0.9); }
  50%, 55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1); }
  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); } }

.products-list .products-list-enter {
  -webkit-animation-name: bounceIn;
  -webkit-animation-duration: .8s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  animation-name: bounceIn;
  animation-duration: .8s;
  animation-iteration-count: 1;
  animation-timing-function: linear; }

.products-list .products-list-leave {
  -webkit-animation-name: bounceOut;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  animation-name: bounceOut;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear; }

.border-none {
  border: none !important; }

.no-margin {
  margin: 0px !important; }

.alert {
  font-size: 80% !important;
  color: #f2435d;
  margin-left: 30px; }

.green {
  color: #8ed677;
  font-size: 90%; }

.fade {
  top: 0;
  left: 0;
  width: 90%;
  cursor: pointer;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 30%, white 100%);
  position: absolute; }
